<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Awesome Search Box</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body ng-app="app">
  <div class="container h-100" ng-controller="AppController as vm">
    <div class="mt-3 row d-flex justify-content-center h-100">
      <form class="d-flex" ng-submit="vm.search()">
        <div class="form-group">
          <div class="searchbar input-group mb-3">
              <div class="input-group-prepend mr-3">
                <button type="button" class="btn btn-custom dropdown-toggle" type="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Salut</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Salute&</a>                
                </div>
              </div>
            <input class="search_input" type="text" name="" placeholder="Search..." ng-model="vm.textsearch">
            <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
          </div>
          <div class="d-flex row justify-content-around">
            <div class="form-check">
              <input type="radio" class="form-check-input" value="labo" name="type" ng-model="vm.params.labo">
              <label class="form-check-label">Laboratoire</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" value="univ" name="type" ng-model="vm.params.univ">
              <label class="form-check-label">Université</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" value="coaut" name="type" ng-model="vm.params.coaut">
              <label class="form-check-label">Co-auteurs</label>
            </div>
          </div>
        </div>
      </form>
        <ul class="w-100 list-group">
          <li class="list-group-item" ng-repeat="result in vm.results">
            <div class="mr-3" alt="Generic placeholder image"> {{result.docid}}</div>
            <div class="media-body">
              <h5 class="mt-0 mb-1"><a href="{{result.uri_s}}">{{result.uri_s}}</a></h5>
              {{result.label_s}}
            </div>
          </li>
        </ul>
        <ul class="w-100 list-group">
            <li class="list-group-item" ng-repeat="author in vm.authors">
              {{author}}
            </li>
          </ul>
    </div>
  </div>
  <script type="text/javascript" src="./jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
  <script type="module" src="./popper.js/dist/popper-utils.min.js"></script>
  <script type="module" src="./popper.js/dist/popper.min.js"></script>
  <script type="text/javascript" src="./bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./angular/angular.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/HAL.service.js"></script>
</body>

</html>